header h1{
    color: green;
    text-align: left;
}

header {
    width: 100%;
    height: 120px;
    background-color: #333333;
    
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: red;
    padding:  1% 0px 1% 0px;
    margin-top: 7%;
    
}

main{
width: 80%;
height: auto;
background-color: blue ;
float: left;
padding: 2% 2% 2% 2%;

}

aside{
width: 20%;
height: 300px;
background-color: aquamarine;
float: right;
}


footer {
    margin-top:305px;
    width: 100%;
    height: 80px;
    background-color: #333333;
    color: red;

}

footer h2{
    padding-top: 20px ;
    text-align: center;
}