
#course-title{
    color: white;
    text-align: center;
    padding-top: 40px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: x-large;
    
    
}

header {
    width: 100%;
    height: 100px;
    background-color: #333333;
    
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(14, 190, 202);
    padding:  1% 0px 1% 0px;
    padding: 20px;
    margin-top: 0%;
    color:black ;
    
}

/* Hoveron on Navigation.*/


.navigation ul li a:hover {
    color: blue;
    background-color: #000000;


}

#myname{
    text-align: center;
    vertical-align: middle;
    margin-bottom: -1%;
    margin-top: 6%;

}

main{
/*width: 100%;
height: auto;
background-color: white ;
/*float: right;*/
display: flex;
align-items: stretch ;
gap: 10px;
padding: 25px;

}

#mypic{
    height: 150px;
    width: 150px;


}

main h2{
    text-align: center;
}

#currentyear{
    color: white;
}

span{
    color: aliceblue;
}

.card{
    
    border: #000000;
    border-style: solid 1px;
    border-radius: 20px;
    
    flex: 3;  /* card to take 3 quarters of the main*/
    background-color: burlywood;
    overflow: auto;
    
    
}

.card h3{
    margin-top: 0%;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(24,24,235);
    color: wheat;
   
    
}
.card p{
    margin-left: 30px;
}
 
.card2{
  /*  width: 30%;
    height: 100%;*/

    background-color:gray;
    
    border-radius: 20px;
    border-style: solid 1px ;
    overflow: hidden;
    
}
.card2 h3{
    text-align: center;
    color: bisque;
    background-color: rgb(24,24,235);
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 0px;
    
}

#flag{
    float: left;
    width: 200;
    height: 150px;
}

.card p{      /* create space for image */
    width: 70%;
    float: left;
}


footer {
    margin-top:0;
    width: 100%;
    height: 100%;
    background-color: rgb(29,77,114);
    color: bisque;

}

footer p{
    padding-top: 10px ;
    text-align: center;
    padding-bottom: 19px;
}